header{
    overflow: hidden;
    background-image: url(https://www.appsee.com/ImagesNew/CaseStudies/Autodoc-logo.png);
    background-size: auto 150px ;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
  }